<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Aorus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
</head>
<body>
    <div class="container">
        <div class="box1">
            <div class="foto">
                <img src="{{ url_for('static', filename='imagens/imgs/usuario.jpg') }}" alt="Foto de Perfil">
            </div>

            <div class="login">
                {# Mensagens Flash #}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <form method="POST" action="{{ url_for('cadastro') }}">
                    <h3><center>cadastre-se</center></h3>
                    <p>Insira seu email:</p>

                    <input type="email" name="email" placeholder="email" value="{{ email if email else '' }}" required autofocus>

                    <p>Insira seu nome de usuário</p>

                    <input type="user" name="user" placeholder="user" >
                    
                    <p>Insira sua senha:</p>
                    <input type="password" name="password" required>

                    <p>Confirme sua senha:</p>
                    <input type="password" name="confirm_password" required>

                    <br>

                    <div class="a-botao">
                        <button type="submit" id="botao-submit">Cadastrar</button>
                    </div>
                </form>

                <center>
                <p style="margin-top: 20px;"><a href="{{ url_for('login') }}" style="color: gold; text-decoration: none;">Já tem conta? Faça login</a></p>
                <p><a href="{{ url_for('index') }}" style="color: gold; text-decoration: none;">Voltar para a Home</a></p>
                </center>
                <br>
            </div>
        </div>
    </div>
</body>
</html>