<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aorus - Seu Carrinho de Compras</title>

    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/carrinho.css')}}">

</head>
<body>

    <div class="container">
        <header>
            <div class="a-input">
                <img src="{{url_for('static' , filename = 'imagens/imgs/aorussports.png')}}" alt="Logotipo da Orus">
                <input type="search" placeholder="Buscar produtos, marcas e muito mais...">
                <nav>
                    <ul>
                        <li><a href="{{url_for('index')}}">Página inicial</a></li>
                        <br>
                        <li><a href="{{url_for('categorias')}}">Categorias</a></li>
                        <br>
                        <li><a href="#">Contato</a></li>
                        <br>
                        <li><a href="#">Ofertas do dia</a></li>
                    </ul>
                </nav>
            </div>
            <div class="a-lista">
                <nav>
                    <ul>
                    {# Verifica se o usuário está autenticado #}
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('dashboard') }}">Olá, {{ current_user.username }}</a></li>
                    <br>
                    <li><a href="{{ url_for('logout') }}">Sair</a></li>
                    <br>
                    {% else %}
                    <li><a href="{{ url_for('cadastro') }}">Cadastrar-se</a></li>
                    <br>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <br>
                    {% endif %}
                    <li><a href="{{ url_for('carrinho') }}"><img src="{{ url_for('static', filename='imagens/imgs/carrinho.png') }}"  width="30"></a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <h1 style="color: white;"><center>Seu carrinho</center></h1>

        <div class="cart-items">
            {% if cart_items %}
                {% for item in cart_items %}
                <div class="cart-card">
                    <img src="{{ item.image }}" alt="{{ item.description }}">
                    <p>{{ item.description }}</p>
                </div>
                {% endfor %}
            {% else %}
                <p style="color: white;">Seu carrinho está vazio.</p>
            {% endif %}
        </div>

        <footer>
            <p>&copy; 2025 $ - Todos os direitos reservados.</p>
        </footer>
    </div>

</body>
</html>